body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.search-container {
    margin-top: 15px;
}

input {
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005f7f;
}

#mealContainer {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal {
    width: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meal img {
    max-width: 100%;
    height: auto;
}

.meal h3 {
    margin-top: 0;
}

.meal p {
    margin-bottom: 0;
}